<!-- <style></style> -->

<main class="main">
  <div class="content">
    <div class="onboarding-button-container">
      <button class="onboarding-button" (click)="toggleModal()">
        How It Works
      </button>
    </div>

    <app-onboarding-modal *ngIf="showModal" (dismiss)="toggleModal()"></app-onboarding-modal>
    <div>
      <h1>{{ title }}</h1>
      <p class="welcome">
        "Your mind is for having ideas, not holding them." - David Allen
      </p>
    </div>
  </div>
</main>
<div class="navigation">
  <button routerLink="/add-items" routerLinkActive="active" class="nav-button" aria-label="Home button">
    Home
  </button>
  <button routerLink="/priority-1" routerLinkActive="active" class="nav-button" aria-label="filter by 1st priority">
    Do It Now
  </button>
  <button routerLink="/priority-2" routerLinkActive="active" class="nav-button" aria-label="filter by 2nd priority">
    Do Next
  </button>
  <button routerLink="/priority-3" routerLinkActive="active" class="nav-button" aria-label="filter by 3rd priority">
    Do Later
  </button>
  <button routerLink="/priority-4" routerLinkActive="active" class="nav-button" aria-label="filter by 4rth priority">
    Delete
  </button>
</div>
<app-consent-alert></app-consent-alert>
<!-- Router Outlet for Loading Routed Components -->
<router-outlet></router-outlet>
